VITE_API_URL=https://api.birzha-kanaliv.biz.ua

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=viewexchange-3a790.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=viewexchange-3a790
VITE_FIREBASE_STORAGE_BUCKET=viewexchange-3a790.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=608740325704
VITE_FIREBASE_APP_ID=
