DATABASE_URL=
NODE_ENV=production
PORT=3001
DB_SSL=true

JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://api.birzha-kanaliv.biz.ua/api/youtube/callback

FIREBASE_PROJECT_ID=viewexchange-3a790
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

CLIENT_URLS=https://birzha-kanaliv.biz.ua,https://admin.birzha-kanaliv.biz.ua

LEONARDO_API_KEY=
LEONARDO_MODEL_ID=aa77f04e-3eec-4034-9c07-d0f619684628
LEONARDO_STYLE_UUID=
