DATABASE_URL=postgresql://postgres:your_password_here@127.0.0.1:5432/youtoobe
DB_SSL=false
NODE_ENV=development
PORT=3001
CLIENT_URLS=http://localhost:5173,http://localhost:5174
LEONARDO_API_KEY=
LEONARDO_MODEL_ID=aa77f04e-3eec-4034-9c07-d0f619684628
LEONARDO_STYLE_UUID=
